<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997642513869-kbu3o1a2o5ovgksc5b1sslnppvtk9ngi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997642513869-kbu3o1a2o5ovgksc5b1sslnppvtk9ngi</string>
	<key>API_KEY</key>
	<string>AIzaSyDxJEkJWCs3g91kzDKiF7HMAeO2eSxzL8o</string>
	<key>GCM_SENDER_ID</key>
	<string>997642513869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claudiadanciu.BucksSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>bucksswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>bucksswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997642513869:ios:139162bed0aa5215226884</string>
</dict>
</plist>